.container {
    background-color: #1364BF;
    background-image: url(../assets/img/Logo_TAC_Congelados.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 18% 15% 41% 25%;
    height: 18em;
    object-fit: cover;
    margin: auto;
    margin-bottom: 5em;
    background-size: 25em;
    width: 24.8em;
}

.title {
    padding: 0;
    z-index: 2;
    color: white;
    font-size: 15vw;
    text-align: center;
    filter: sepia(0%);
    grid-column: 1 / 5;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.foto-portada {
    margin-top: 2.8em;
}

.foto-portada>img {
    /* height: auto; */
}